<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensoro.loratool">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".LoRaSettingApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" android:theme="@style/TranslucentTheme" android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.zxing.lib.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdvanceSettingStationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdvanceSettingDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdvanceSettingMultiDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpgradeFirmwareListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingMultiDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingStationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingModuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingMultiModuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignalDetectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FilterDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FilterStationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AuthActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.SearchDeviceActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.SearchStationActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.UpgradeDeviceListActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            />
        <service android:name="com.sensoro.libbleserver.ble.scanner.BLEDeviceService" />
        <service android:name="com.sensoro.libbleserver.ble.scanner.IntentProcessorService" />
        <service android:name=".service.PollingService" />
        <service
            android:name=".service.DfuService"
            android:exported="true" />

        <receiver android:name=".receiver.AlarmReceiver" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57fdf2c7e0f55a64de002878" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${AVOS_CHANNEL_VALUE}" />

        <meta-data
            android:name="TA_APPKEY"
            android:value="AQYC1518XAQF" />
        <!-- 请将value改为app发布对应的渠道，不同的发布渠道使用不同的名字 < -->
        <meta-data
            android:name="InstallChannel"
            android:value="${AVOS_CHANNEL_VALUE}" />

    </application>

</manifest>